@{var session = (Doctor_Forum_eProject_SEM3.Models.Account)Session[Doctor_Forum_eProject_SEM3.Common.UserSession.USER_SESSION]; }﻿
@using Doctor_Forum_eProject_SEM3.Models
@model IEnumerable<Doctor_Forum_eProject_SEM3.Models.Post>
@{
    IEnumerable<Professional> professionals = ViewBag.Professional as IEnumerable<Professional>;
    IEnumerable<Experience> experiences = ViewBag.Experience as IEnumerable<Experience>;
    IEnumerable<Qualification> qualifications = ViewBag.Qualification as IEnumerable<Qualification>;
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    * {
        margin: 0;
        padding: 0
    }
    .fs-title {       
        color: #48bdc5;    
    }
    .content-post {
        display: block;
        display: -webkit-box;
        height: 16px*1.3*3;
        font-size: 16px;
        line-height: 1.3;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 10px;
    }

    .a-link {
        color: black;
    }

        .a-link:hover {
            color: #4e4e4e;
        }

    html {
        height: 100%
    }

    p {
        color: grey
    }

    .form-select {
        background-color: #eceff1;
        border-radius: 0;
    }

    #heading {
        text-transform: uppercase;
        color: #673AB7;
        font-weight: normal
    }

    #msform {
        text-align: center;
        position: relative;
    }

        #msform fieldset {
            background: white;
            border: 0 none;
            border-radius: 0.5rem;
            box-sizing: border-box;
            width: 100%;
            margin: 0;
            padding-bottom: 20px;
            position: relative
        }

    .form-card {
        text-align: left
    }

    #msform fieldset:not(:first-of-type) {
        display: none
    }

    #msform input,
    #msform textarea {
        padding: 8px 15px 8px 15px;
        border: 1px solid #ccc;
        border-radius: 0px;
        margin-bottom: 10px;
        margin-top: 2px;
        width: 100%;
        box-sizing: border-box;
        color: #2C3E50;
        /*  background-color: #ECEFF1;*/
        background-color: #ffff;
        font-size: 16px;
        letter-spacing: 1px
    }

        #msform input:focus,
        #msform textarea:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: 1px solid #673AB7;
            outline-width: 0
        }

    #msform .action-button {
        width: 100px;
        background: #673AB7;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 0px 10px 5px;
        float: right
    }

        #msform .action-button:hover,
        #msform .action-button:focus {
            background-color: #311B92
        }

    #msform .action-button-previous {
        width: 100px;
        background: #616161;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px 10px 0px;
        float: right
    }

        #msform .action-button-previous:hover,
        #msform .action-button-previous:focus {
            background-color: #000000
        }

    .card {
        z-index: 0;
        border: none;
        position: relative
    }

    .fs-title {
        font-size: 25px;
        color: #673AB7;
        margin-bottom: 15px;
        font-weight: normal;
        text-align: left
    }

    .purple-text {
        color: #673AB7;
        font-weight: normal
    }

    .steps {
        font-size: 25px;
        color: gray;
        margin-bottom: 10px;
        font-weight: normal;
        text-align: right
    }

    .fieldlabels {
        color: gray;
        text-align: left
    }

    #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        color: lightgrey
    }

        #progressbar .active {
            color: #673AB7
        }

        #progressbar li {
            list-style-type: none;
            font-size: 15px;
            width: 16%;
            float: left;
            position: relative;
            font-weight: 400
        }

        #progressbar #account:before {
            content: "1"
        }

        #progressbar #personal:before {
            content: "2"
        }

        #progressbar #payment:before {
            content: "3"
        }

        #progressbar #confirm:before {
            content: "4"
        }

        #progressbar #experiences:before {
            content: "5"
        }

        #progressbar #success:before {
            content: "\f00c"
        }

        #progressbar li:before {
            width: 50px;
            height: 50px;
            line-height: 45px;
            display: block;
            font-size: 20px;
            color: #ffffff;
            background: lightgray;
            border-radius: 50%;
            margin: 0 auto 10px auto;
            padding: 2px
        }

        #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: lightgray;
            position: absolute;
            left: 0;
            top: 25px;
            z-index: -1
        }

        #progressbar li.active:before,
        #progressbar li.active:after {
            background: #673AB7
        }

    .progress {
        height: 20px
    }

    .progress-bar {
        background-color: #673AB7
    }

    .fit-image {
        width: 100%;
        object-fit: cover
    }
</style>
<link href="~/Content/css/UserProfile.css" rel="stylesheet" />
<div style="background-color: #f4f6f9;">
    <div class="container mt-5" style="">
        <div class="row">
            <div class="col-4">
                <div class="card profile-header">
                    <div class="body text-center m-2" style="text-align: center">
                        @if (session.Avatar == null)
                        {

                            <div class="profile-image mb-4"> <img class="avatar-doctor" style="width: 160px; height: 155px; border: none;" src="~/Content/images/default-user-image.png" alt=""> </div>
                        }
                        else
                        {
                            <div class="profile-image mb-4"> <img class="avatar-doctor" style="width: 160px; height: 155px; border: none;" src="@session.Avatar" alt=""> </div>
                        }
                        <div>
                            <h4 class="m-b-0"><strong>Dr. @session.FullName</strong></h4>
                            <span class="job_post">Specialization: @session.SpecializationId</span>
                            <p class="mt-2">Address: @session.AddressDetail<br />Phone: @session.Phone<br>Email: @session.Email</p>
                        </div>
                        <div class="mt-4">                         
                            <a href="#" class="btn btn-primary btn-round btn-simple">Update Profile</a>
                        </div>
                        <p class="social-icon mt-3">
                            @*<a title="Twitter" href=""><i class="fa-brands fa-twitter"></i></a>
                                <a title="Facebook" href=""><i class="fa-brands fa-facebook"></i></a>
                                <a title="Google-plus" href=""><i class="fa-brands fa-instagram-square"></i></a>
                                <a title="Behance" href=""><i class="fa-brands fa-behance-square"></i></a>*@
                        </p>
                    </div>

                </div>
                <div class="card mt-3">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link show active" data-toggle="tab" href="#Followers">Followers</a></li>
                        <li class="nav-item"><a class="nav-link show" data-toggle="tab" href="#friends">Friends</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane body show active" id="Followers">
                            <ul class="right_chat list-unstyled">
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzzjHeyn76LSsqxqwCZvJBgg5sQfe0EAIhRg&usqp=CAU" alt="">
                                            <div class="media-body">
                                                <span class="name">Chris Fox</span>
                                                <span class="message">Designer, Blogger</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzzjHeyn76LSsqxqwCZvJBgg5sQfe0EAIhRg&usqp=CAU" alt="">
                                            <div class="media-body">
                                                <span class="name">Joge Lucky</span>
                                                <span class="message">Java Developer</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="offline">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzzjHeyn76LSsqxqwCZvJBgg5sQfe0EAIhRg&usqp=CAU" alt="">
                                            <div class="media-body">
                                                <span class="name">Isabella</span>
                                                <span class="message">CEO, Thememakker</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="offline">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzzjHeyn76LSsqxqwCZvJBgg5sQfe0EAIhRg&usqp=CAU" alt="">
                                            <div class="media-body">
                                                <span class="name">Folisise Chosielie</span>
                                                <span class="message">Art director, Movie Cut</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzzjHeyn76LSsqxqwCZvJBgg5sQfe0EAIhRg&usqp=CAU" alt="">
                                            <div class="media-body">
                                                <span class="name">Alexander</span>
                                                <span class="message">Writter, Mag Editor</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane body show" id="friends">
                            <ul class="new_friend_list list-unstyled row" style="text-align: center">
                                <li class="col-lg-4 col-md-2 col-sm-6 col-4 mb-3">
                                    <a href="">
                                        <img src="https://thumbs.dreamstime.com/z/doctor-medical-icon-cdr-187019168.jpg" class="img-thumbnail" alt="User Image">
                                        <h6 class="users_name">Jackson</h6>
                                        <small class="join_date">Today</small>
                                    </a>
                                </li>
                                <li class="col-lg-4 col-md-2 col-sm-6 col-4 mb-3">
                                    <a href="">
                                        <img src="https://thumbs.dreamstime.com/z/doctor-medical-icon-cdr-187019168.jpg" class="img-thumbnail" alt="User Image">
                                        <h6 class="users_name">Aubrey</h6>
                                        <small class="join_date">Yesterday</small>
                                    </a>
                                </li>
                                <li class="col-lg-4 col-md-2 col-sm-6 col-4 mb-3">
                                    <a href="">
                                        <img src="https://thumbs.dreamstime.com/z/doctor-medical-icon-cdr-187019168.jpg" class="img-thumbnail" alt="User Image">
                                        <h6 class="users_name">Oliver</h6>
                                        <small class="join_date">08 Nov</small>
                                    </a>
                                </li>
                                <li class="col-lg-4 col-md-2 col-sm-6 col-4 mb-3">
                                    <a href="">
                                        <img src="https://thumbs.dreamstime.com/z/doctor-medical-icon-cdr-187019168.jpg" class="img-thumbnail" alt="User Image">
                                        <h6 class="users_name">Isabella</h6>
                                        <small class="join_date">12 Dec</small>
                                    </a>
                                </li>
                                <li class="col-lg-4 col-md-2 col-sm-6 col-4 mb-3">
                                    <a href="">
                                        <img src="https://thumbs.dreamstime.com/z/doctor-medical-icon-cdr-187019168.jpg" class="img-thumbnail" alt="User Image">
                                        <h6 class="users_name">Jacob</h6>
                                        <small class="join_date">12 Dec</small>
                                    </a>
                                </li>
                                <li class="col-lg-4 col-md-2 col-sm-6 col-4 mb-3">
                                    <a href="">
                                        <img src="https://thumbs.dreamstime.com/z/doctor-medical-icon-cdr-187019168.jpg" class="img-thumbnail" alt="User Image">
                                        <h6 class="users_name">Matthew</h6>
                                        <small class="join_date">17 Dec</small>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link show active" data-toggle="tab" href="#about">Account</a></li>
                        <li class="nav-item"><a class="nav-link show" data-toggle="tab" href="#Account">Posts</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane body show active" id="about">
                            <div class="card-body">

                                @foreach (var item in experiences)
                                {
                                    <h4>Experience</h4>
                                    <div class="row mt-4">
                                        <div class="col-sm-3" style="margin-top">
                                            <h6 class="mb-0 mt-1 mt-1">Start Year:</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">@item.StartYear</div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0 mt-1">End Year:</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">@item.EndYear</div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0 mt-1">Position:</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">@item.Position</div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0 mt-1">Workplace:</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">@item.Workplace</div>
                                    </div>
                                }

                                <hr>
                                @foreach (var item in qualifications)
                                {
                                    <h4>Qualifications</h4>
                                    <div class="row mt-4">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0 mt-1">Year:</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">@item.Year</div>
                                    </div><hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0 mt-1">School:</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">@item.School</div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0 mt-1">Description:</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">@item.Description</div>
                                    </div><hr />
                                }

                                @foreach (var item in professionals)
                                {
                                    <h4>Professional</h4>
                                    <div class="row mt-4">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0 mt-1">Professional:</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">@item.ProfessionalName</div>
                                    </div>
                                }
                                <hr>
                            </div>
                        </div>
                        @foreach (var item in Model.Where(x => x.Status == true).Reverse())
                        {
                            <div class="tab-pane body show" id="Account">
                                <div class="tab-content">
                                    <div class="post" style="background-color: #f2f2f2; ">
                                        <div class="wrap-ut pull-left">
                                            <div class="userinfo pull-left" style="width: 15%; padding: 27px 0px; background-color: #f2f2f2">
                                                <div class="avatar">
                                                    <img style="width: 70px; height: 70px; border-radius: 0; object-fit: cover;" src="@item.Image" alt="">

                                                </div>

                                                <div class="icons">
                                                    <img src="images/icon1.jpg" alt=""><img src="images/icon4.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="posttext pull-left">
                                                <h2>@Html.ActionLink(item.Title, "Details", "Posts", new { id = item.Id }, new { @class = "a-link", id = item.Id })</h2>
                                                <div class="content-post"> @Html.Raw(item.Content)</div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="postinfo pull-left">
                                            <div class="comments">
                                                <div class="commentbg">
                                                    560
                                                    <div class="mark"></div>
                                                </div>

                                            </div>
                                            <div class="views"><i class="fa-solid fa-eye"></i> 1,568</div>
                                            <div class="time"><i class="fa-solid fa-clock"></i> 24 min</div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        var current_fs, next_fs, previous_fs; //fieldsets
        var opacity;
        var current = 1;
        var steps = $("fieldset").length;

        setProgressBar(current);

        $(".next").click(function () {

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //Add Class Active
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now) {
                    // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    next_fs.css({ 'opacity': opacity });
                },
                duration: 500
            });
            setProgressBar(++current);
        });

        $(".previous").click(function () {

            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //Remove class active
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();

            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now) {
                    // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    previous_fs.css({ 'opacity': opacity });
                },
                duration: 500
            });
            setProgressBar(--current);
        });

        function setProgressBar(curStep) {
            var percent = parseFloat(100 / steps) * curStep;
            percent = percent.toFixed();
            $(".progress-bar")
                .css("width", percent + "%")
        }

        $(".submit").click(function () {
            return false;
        })

    });
</script>

<script>
    $(document).ready(function () {
        $(".datepicker").datepicker({
            format: "yyyy",
            viewMode: "years",
            minViewMode: "years",
            autoclose: true
        });

        $("#msform").on('click', '.datepicker', function (e) {
            e.preventDefault();
            $(this).datepicker({
                format: "yyyy",
                viewMode: "years",
                minViewMode: "years",
                autoclose: true
            });
            $(this).datepicker("show");
        })

    })
</script>
<script src="~/Content/js/client/userRegister.js"></script>

