@model Doctor_Forum_eProject_SEM3.Models.ViewModel.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .login-form {
        margin: 50px 0;
        width: 370px;
        padding: 20px;
        background-color: #eeeeee;
    }

    .btn-login {
        width: 100%;
        padding: 8px 0;
        color: white;
        background-color: #06bbcc;
        border-radius: 0;
    }

    .register {
        width: 100%;
        padding: 8px 0;
        border-radius: 0;
    }

    .content {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
    }
</style>

<div class="content">
    <div class="login-form">
        @using (Html.BeginForm("Login", "UserAccount", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal ">
                <h4 class="text-center">Login</h4>

                <div class="form-group">
                    <label class="control-label col-md-2"></label>
                    <div class="">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="">
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="fieldset">
                    <input type="checkbox" id="remember-me" checked>
                    <label for="remember-me">
                        Remember to login
                    </label>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <input type="submit" value="Login" class="btn btn-default btn-login mt-3" style="background-color: #06bbcc; width:100%" />
                        </div>
                        <div class="col-12">
                            Do not have an account ?
                            <a class=" register" href="/UserAccount/Register">
                                Register
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>



</div>




