@model IEnumerable<Doctor_Forum_eProject_SEM3.Models.Specialization>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .icon-list {
        background-color: blue;
        color: white;
        padding: 5px;
    }
</style>    
<h2>Index</h2>


<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">List Specializations</h4>
                <div class="ms-auto text-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                List
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        @using (Html.BeginForm("DeleteAll", "Specializations", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <p>
                                @Html.ActionLink("Create Specialization", "Create", null, new { @class = "btn btn-primary" })
                                <input type="submit" value="Delete" onclick="return confirm('Are you sure you wish to delete selected?');" class="btn btn-danger" />
                            </p>
                            <div class="table-responsive">
                                <table id="zero_config"
                                       class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox" id="checkBoxAll" class="custom-checkbox" />
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Title)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Description)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Image)
                                            </th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.Where(x => x.Status == true).Reverse())
                                        {
                                        <tr>
                                            <td>
                                                <input type="checkbox" name="ids" value="@item.Id" />
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>
                                            <td>
                                                <img src="@Html.DisplayFor(modelItem => item.Image)" style="width:90px; height: 80px" />
                                            </td>
                                            <td>
                                                <div class="d-flex">
                                                    <a class="m-2" href="/Admin/Specializations/Edit/@item.Id">
                                                        <h5><i class="fa-solid fa-pen icon-list"></i></h5>
                                                    </a>
                                                    <a class="m-2" href="/Admin/Specializations/Details/@item.Id">
                                                        <h5><i class="fa-solid fa-circle-info icon-list"></i></h5>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $("#checkBoxAll").click(function () {
            $('input:checkbox').not(this).prop('checked', this.checked);
        });
    </script>
}