
@{
    ViewBag.Title = "PartialLeftSidebar";
}
<style>
    .home-admin {
        color: #a5a8ab;
    }
    .home-admin:hover {
        color: white;
    }
</style>
<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4">
                <li class="sidebar-item d-flex">
                    <div class="ms-3"></div>
                    <h2>
                        <i class="mdi mdi-view-dashboard home-admin" style="color: #a5a8ab;"></i>
                    </h2>

                    <a href="/Admin" class="m-2 home-admin">Home</a>


                </li>
                @*<li class="sidebar-item d-flex">
            <div class="ms-3"></div>
            <h2>
                <i class="mdi mdi-chart-bar" style="color:#a5a8ab"></i>
            </h2>
            @Html.ActionLink("Charts", "Charts", "HomeAdmin", null, new { @Class = "text-white m-2" })
        </li>*@

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow"
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        <span class="hide-menu">Post </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/Admin/PostAdmin/Create" class="sidebar-link">
                                <i class="fa-solid fa-circle-arrow-right"></i>
                                <span class="hide-menu">Create Post </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/Admin/PostAdmin/Index" class="sidebar-link">
                                <i class="fa-solid fa-circle-arrow-right"></i>
                                <span class="hide-menu">Manage Post</span>
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow"
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="fa-solid fa-graduation-cap"></i><span class="hide-menu">Experiences </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item d-flex">
                            <div></div>
                            <h5>
                                <i class="fa-solid fa-circle-arrow-right mt-3 ms-3" style="color:#a5a8ab"></i>
                            </h5>
                            @Html.ActionLink("Add Experiences", "Create", "Experiences", null, new { @Class = "sidebar-link sidebar-link Action-color" })
                        </li>
                        <li class="sidebar-item d-flex">
                            <div class=""></div>
                            <h5>
                                <i class="fa-solid fa-circle-arrow-right mt-3 ms-3" style="color:#a5a8ab"></i>
                            </h5>
                            @Html.ActionLink("Manage Experiences", "Index", "Experiences", null, new { @Class = "sidebar-link sidebar-link Action-color" })
                        </li>
                    </ul>
                </li>

                @*<li class="sidebar-item">
            <a class="sidebar-link has-arrow waves-effect waves-dark"
               href="javascript:void(0)"
               aria-expanded="false">
                <i class="fa-solid fa-circle-dollar-to-slot"></i>
                <span class="hide-menu">Income management </span>
            </a>
            <ul aria-expanded="false" class="collapse first-level">
                <li class="sidebar-item">
                    <a href="form-basic.html" class="sidebar-link">
                        <i class="fa-solid fa-circle-arrow-right"></i>
                        <span class="hide-menu">Daily income management </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="form-wizard.html" class="sidebar-link">
                        <i class="fa-solid fa-circle-arrow-right"></i>
                        <span class="hide-menu">Weekly income management </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="form-wizard.html" class="sidebar-link">
                        <i class="fa-solid fa-circle-arrow-right"></i>
                        <span class="hide-menu">Manage monthly income </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="form-wizard.html" class="sidebar-link">
                        <i class="fa-solid fa-circle-arrow-right"></i>
                        <span class="hide-menu">Yearly income management </span>
                    </a>
                </li>
            </ul>
        </li>*@

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow "
                       href="javascript:void(0)"
                       aria-expanded="false" style="background: #1f262d;">
                        <i class="fa-solid fa-user"></i><span class="hide-menu">Account Manage </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item d-flex">
                            <div class="ms-2"></div>
                            <h5>
                                <i class="fa-solid fa-circle-arrow-right mt-3 ms-3" style="color:#a5a8ab"></i>
                            </h5>
                            @Html.ActionLink("Create Account", "Create", "AccountsManage", null, new { @Class = "sidebar-link sidebar-link Action-color" })
                        </li>
                        <li class="sidebar-item d-flex">
                            <div class="ms-2"></div>
                            <h5>
                                <i class="fa-solid fa-circle-arrow-right mt-3 ms-3" style="color:#a5a8ab"></i>
                            </h5>
                            @Html.ActionLink("Account Manage", "Index", "AccountsManage", null, new { @Class = "sidebar-link sidebar-link Action-color" })
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow "
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="fa-solid fa-book-bible"></i>
                        <span class="hide-menu">Specialization </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/Admin/Specializations/Create" class="sidebar-link">
                                <i class="fa-solid fa-circle-arrow-right"></i>
                                <span class="hide-menu">Add Specialization </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/Admin/Specializations/Index" class="sidebar-link">
                                <i class="fa-solid fa-circle-arrow-right"></i>
                                <span class="hide-menu">Manage Specialization</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow "
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="fa-solid fa-user-tie"></i>
                        <span class="hide-menu">Professional </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/Admin/Professionals/Create" class="sidebar-link">
                                <i class="fa-solid fa-circle-arrow-right"></i>
                                <span class="hide-menu">Add Professional </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/Admin/Professionals/Index" class="sidebar-link">
                                <i class="fa-solid fa-circle-arrow-right"></i>
                                <span class="hide-menu">Manage Professionals</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow "
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="fa-solid fa-trophy"></i>
                        <span class="hide-menu">Achivements </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/Admin/Achievements/Create" class="sidebar-link">
                                <i class="fa-solid fa-circle-arrow-right"></i>
                                <span class="hide-menu">Add Achievements </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/Admin/Achievements/Index" class="sidebar-link">
                                <i class="fa-solid fa-circle-arrow-right"></i>
                                <span class="hide-menu">Manage Achievements</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow"
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="fa-solid fa-id-card-clip"></i>
                        <span class="hide-menu">Qualifications </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/Admin/Qualifications/Create" class="sidebar-link">
                                <i class="fa-solid fa-circle-arrow-right"></i>
                                <span class="hide-menu">Create Post </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/Admin/Qualifications/Index" class="sidebar-link">
                                <i class="fa-solid fa-circle-arrow-right"></i>
                                <span class="hide-menu">Manage Post</span>
                            </a>
                        </li>
                    </ul>
                </li>
                @*<li class="sidebar-item">
        <li class="sidebar-item d-flex">
            <div class="ms-3"></div>
            <h2>
                <i class="mdi mdi-view-dashboard 2" style="color:#a5a8ab"></i>
            </h2>
            @Html.ActionLink("Widgets", "Widgets", "HomeAdmin", null, new { @Class = "text-white m-2 Action-color" })


        </li>
        </li>
        <li class="sidebar-item">
        <li class="sidebar-item d-flex">
            <div class="ms-3"></div>
            <h2>
                <i class="mdi mdi-chart-bar" style="color:#a5a8ab"></i>
            </h2>
            @Html.ActionLink("Tables", "Tables", "HomeAdmin", null, new { @Class = "text-white m-2 Action-color" })
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link has-arrow waves-effect waves-dark"
               href="javascript:void(0)"
               aria-expanded="false">
                <i class="mdi mdi-receipt"></i><span class="hide-menu">Forms </span>
            </a>
            <ul aria-expanded="false" class="collapse first-level">
                <li class="sidebar-item d-flex">
                    <div class="ms-2"></div>
                    <h5>
                        <i class="fa-solid fa-circle-arrow-right mt-3 ms-3" style="color:#a5a8ab"></i>
                    </h5>
                    @Html.ActionLink("Form basic", "Form", "HomeAdmin", null, new { @Class = "sidebar-link sidebar-link Action-color" })
                </li>
                <li class="sidebar-item d-flex">
                    <div class="ms-2"></div>
                    <h5>
                        <i class="fa-solid fa-circle-arrow-right mt-3 ms-3" style="color:#a5a8ab"></i>
                    </h5>
                    @Html.ActionLink("Form wizard", "FormWizard", "HomeAdmin", null, new { @Class = "sidebar-link sidebar-link Action-color" })
                </li>
            </ul>
        </li>*@

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow "
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-account-key"></i><span class="hide-menu">Authencation </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/Admin/Login/Index" class="sidebar-link">
                                <i class="mdi mdi-all-inclusive"></i><span class="hide-menu"> Đăng nhập </span>
                            </a>
                        </li>

                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>

