@model IEnumerable<Doctor_Forum_eProject_SEM3.Models.Post>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .click-view-all {
        background-color: #48bdc5;
        color: white;
        padding: 6px 0;
        width: 330px;
        height: 40px;
        font-size: 14px;
        font-weight: 500;
        border: 1px solid #48bdc5;
    }
        .click-view-all:hover {
            color: #48bdc5;
            cursor:pointer;
            background-color: white;
           
        }

    .an {
        display: block;
        display: -webkit-box;
        height: 16px*1.3*3;
        font-size: 16px;
        line-height: 1.3;
        -webkit-line-clamp: 3; /* số dòng hiển thị */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 10px;
    }

        .an p {
            padding: 0 !important;
        }

    .title-post {
        font-size: 18px;
        color: black;
        font-weight: 500;
    }

        .title-post:hover {
            color: #06bbcc;
        }

    .link-profile {
        color: #777777;
    }

        .link-profile:hover {
            color: #06bbcc;
        }
    .text{
        width:70%
    }
    .text-img{
        width:30%
    }
    .click:hover {
        color: #48bdc5;
        cursor:pointer;
        background-color: white
    }
</style>
@{Html.RenderAction("SearchDoctor", "Home");}
<section class="blog-section style-four section">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="container">
                    <div class="row">
                   @*     @{Html.RenderAction("NewestPost", "Posts");}
                        @{Html.RenderAction("TypeKnowledge", "Posts");}*@
                    </div>
                </div>
                <div class="container">
                    <div class="row" style="margin-top: 20px">
                        @{Html.RenderAction("TypePost", "Posts");}
                        <div class="col-lg-12 mt-5">
                            @foreach (var item in Model.Where(x => x.Status == true).Reverse())
                            {
                                <div class="item-holder row">
                                    <div class="image-box col-4">
                                        <figure>
                                            <a href="blog-details.html"><img style="height: 149px; object-fit: cover" loading="lazy" class="img-fluid" src="@item.Image" alt=""></a>
                                        </figure>
                                    </div>
                                    <div class="content-text col-8 pt-0">
                                        @Html.ActionLink(item.Title, "PostDetail", "Home", new { id = item.Id }, new { @class = "title-post", id = item.Id })
                                        <div class="an py-0 mb-1 an">
                                            @Html.Raw(item.Content)
                                        </div>
                                        <div>
                                            <img style="width: 40px;height: 40px; border-radius: 50%; object-fit: cover" src="@item.Account.Avatar">
                                            <span class="mr-1">@Html.ActionLink(item.Account.FullName, "AccountProfile", "AccountModels", new { id = item.Id }, new { @class = "link-profile" })</span>-<span class="ml-1">@*@item.Specialization.Name*@</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="right-side">
                    <div class="text-title">
                        <h6>Search</h6>
                    </div>
                    <div class="search-box">
                        <form method="post" action="index.html">
                            <div class="input-group">
                                <input class="form-control" type="search" name="search" placeholder="Enter to Search" required="" autocomplete="off">
                            </div>
                        </form>
                    </div>
                    <div class="categorise-menu">
                        <div class="text-title">
                            <h6>Categories</h6>
                        </div>
                        <ul class="categorise-list">
                            <li><a href="blog.html">Alumni <span>(20)</span></a></li>
                            <li><a href="blog.html">Psycology <span>(4)</span></a></li>
                            <li><a href="blog.html">Sonogram <span>(2)</span></a></li>
                            <li><a href="blog.html">x-ray <span>(9)</span></a></li>
                            <li><a href="blog.html">Dental <span>(2)</span></a></li>
                        </ul>
                    </div>
                    <div class="tag-list">
                        <div class="text-title">
                            <h6>Tags</h6>
                        </div>
                        <a href="blog.html">Dental</a>
                        <a href="blog.html">Root</a>
                        <a href="blog.html">Clean</a>
                        <a href="blog.html">Rehabilitation</a>
                        <a href="blog.html">Surgery</a>
                        <a href="blog.html">Doctor</a>
                        <a href="blog.html">Pediatric</a>
                        <div class="click-view-all" style="width:100%;text-align:center">
                            <div class="click-show-all-post" style="height:100%; border: none">Thủ Thuật Tinh Tế</div>
                        </div>
                        <div class="d-flex" style="margin-top: 10px">
                            <div class="text">
                                <p>Tôi muốn đi chơi, tôi muốn đi Hồ Tây....</p>
                            </div>
                            <div class="text-img">
                                <img style="height: 60px; width: 100%; object-fit: cover; border-radius: 7px" src="images/blog/Cường.jpg">
                            </div>
                        </div>
                        <div class="d-flex" style="margin-top: 10px">
                            <div class="text">
                                <p>Tôi muốn đi chơi, tôi muốn đi Hồ Tây....</p>
                            </div>
                            <div class="text-img">
                                <img style="height: 60px; width: 100%; object-fit: cover; border-radius: 7px" src="images/blog/Cường.jpg">
                            </div>
                        </div>
                        <div class="d-flex" style="margin-top: 10px">
                            <div class="text">
                                <p>Tôi muốn đi chơi, tôi muốn đi Hồ Tây....</p>
                            </div>
                            <div class="text-img">
                                <img style="height: 60px; width: 100%; object-fit: cover; border-radius: 7px" src="images/blog/Cường.jpg">
                            </div>
                        </div>
                        <div class="d-flex" style="margin-top: 10px">
                            <div class="text">
                                <p>Tôi muốn đi chơi, tôi muốn đi Hồ Tây....</p>
                            </div>
                            <div class="text-img">
                                <img style="height: 60px; width: 100%; object-fit: cover; border-radius: 7px" src="images/blog/Cường.jpg">
                            </div>
                        </div>
                        <div class="d-flex" style="margin-top: 10px">
                            <div class="text">
                                <p>Tôi muốn đi chơi, tôi muốn đi Hồ Tây....</p>
                            </div>
                            <div class="text-img">
                                <img style="height: 60px; width: 100%; object-fit: cover; border-radius: 7px" src="images/blog/Cường.jpg">
                            </div>
                        </div>
                        <div class="click-view-all" style="width:100%;text-align:center">
                            <div class="click-show-all-post" style="height:100%; border: none">Xem Tất Cả</div></div>
                    </div>
                    <div class="row" style="margin-left:5px">
                        <div style="width: 33%; padding: 10px 5px 0 0">
                            <img style="object-fit: cover; width: 100%; height: 55px; border-radius: 7px" src="images/blog/Thắng.png">
                        </div>
                        <div style="width: 33%; padding: 10px 5px 0 0">
                            <img style="object-fit: cover; width: 100%; height: 55px; border-radius: 7px" src="images/blog/Thắng.png">
                        </div>
                        <div style="width: 33%; padding: 10px 5px 0 0">
                            <img style="object-fit: cover; width: 100%; height: 55px; border-radius: 7px" src="images/blog/Thắng.png">
                        </div>
                        <div style="width: 33%; padding: 10px 5px 0 0">
                            <img style="object-fit: cover; width: 100%; height: 55px; border-radius: 7px" src="images/blog/Thắng.png">
                        </div>
                        <div style="width: 33%; padding: 10px 5px 0 0">
                            <img style="object-fit: cover; width: 100%; height: 55px; border-radius: 7px" src="images/blog/Thắng.png">
                        </div>
                        <div style="width: 33%; padding: 10px 5px 0 0">
                            <img style="object-fit: cover; width: 100%; height: 55px; border-radius: 7px" src="images/blog/Thắng.png">
                        </div>
                        <div style="width: 33%; padding: 10px 5px 0 0">
                            <img style="object-fit: cover; width: 100%; height: 55px; border-radius: 7px" src="images/blog/Thắng.png">
                        </div>
                        <div style="width: 33%; padding: 10px 5px 0 0">
                            <img style="object-fit: cover; width: 100%; height: 55px; border-radius: 7px" src="images/blog/Thắng.png">
                        </div>
                        <div style="width: 33%; padding: 10px 5px 0 0">
                            <img style="object-fit: cover; width: 100%; height: 55px; border-radius: 7px" src="images/blog/Thắng.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="section section-qa">
    <div class="container">
        <div class="row" style="margin-top: 10px; height: 380px">
            <div class="col-md-8">
                <ul class="nav nav-tabs category-tab">
                    <li class="active"><a data-toggle="tab" href="#da-tra-loi">Mới trả lời</a></li>
                    <li><a style="margin-left : 10px" data-toggle="tab" href="#cau-hoi-thuong-gap">Câu hỏi thường gặp </a></li>
                </ul>

                <div class="tab-content" style="overflow-x: hidden; overflow-y: scroll; height: 355px">
                    <div id="da-tra-loi" class="tab-pane fade in active">

                        <!-- BEGIN Item -->
                        <div class="row">
                            <div class="col-md-1">
                                <img src="~/Content/images/list-doctor/1.jpg" alt="" style="width: 57px; height: 57px;" margin-top: 25px;">
                            </div>
                            <div class="col-md-11" style="padding-left: 25px">
                                <div class="question-answered-title">
                                    <h3 class="title">
                                        <a style="font-size:19px" href="/cau-hoi/2494/benh-da-lieu">
                                            Bệnh da liễu
                                        </a>
                                    </h3>
                                </div>
                                <div class="question-anwsered-content">
                                    <p>Chào bác sĩ, mình có em trai bị bệnh da liễu từ nhỏ cho đến khi mất là 9 tuổi. Đi khám ở Hà Nội và Huế đều được chẩn đoán là “Chàm khúc xạ” cụ thể là khúc xạ ánh sáng mặt trời. Những chỗ có quần áo thì không bị, còn mặt, cánh tay và đầu gối trở xuống đều bị những vết chàm màu đen như hạt đậu. Nhất là mặt và cổ bị nặng nhất. Thời gian sau còn xuất hiện thêm một vài nốt sần như bệnh Bowen và xuất hiện một số u có rễ khá dài, cộng thêm mắt bị yếu dần vì có màng đục đục ngày càng bao phủ. Cho mình hỏi bác sĩ đã gặp trường hợp này chưa ạ? Và có cách chữa trị không ạ? Bác sĩ cho mình xin thêm thông tin về bệnh này với ạ. Cám ơn bác sĩ. Hiện em trai mình vì khối u chèn ở mũi nên đã mất cách đây 2 năm.</p>
                                </div>
                                <div class="question-anwsered-type">
                                    <span class="meta-item specialist_data_popup" action_search="qa">
                                        <a style="font-size:19px" class="curso-point">
                                            Y tế dự phòng
                                        </a>-
                                        <span class="anwser-by">Trả lời bởi Bác sỹ </span>
                                        <a href="">Dung Nguyen</a>
                                        - <span class="anwser-by">08:28 18/08/2021</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- END Item -->
                        <!-- BEGIN Item -->
                        <div class="row">
                            <div class="col-md-1">
                                <img src="~/Content/images/list-doctor/1.jpg" alt="" style="width: 57px; height: 57px;" margin-top: 25px;">
                            </div>
                            <div class="col-md-11" style="padding-left: 25px">
                                <div class="question-answered-title">
                                    <h3 class="title">
                                        <a style="font-size:19px" href="/cau-hoi/2492/san-cho">
                                            Sán chó
                                        </a>
                                    </h3>
                                </div>
                                <div class="question-anwsered-content">
                                    <p>Em chào bác sĩ ạ. Bác sĩ cho em hỏi nguyên nhân gây ra bệnh sán chó, sán mèo, biểu hiện bệnh. Bệnh gây ra những nguy hiểm gì và có điều trị được không? Bệnh có lây từ người đã bị nhiễm sang người khác không ạ? Em cảm ơn ạ</p>
                                </div>
                                <div class="question-anwsered-type">
                                    <span class="meta-item specialist_data_popup" action_search="qa">
                                        <a style="font-size:19px" class="curso-point">
                                            Y tế dự phòng
                                        </a>-
                                        <span class="anwser-by">Trả lời bởi Bác sỹ </span>
                                        <a href="">Dung Nguyen</a>
                                        - <span class="anwser-by">08:07 17/08/2021</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- END Item -->
                        <!-- BEGIN Item -->
                        <div class="row">
                            <div class="col-md-1">
                                <img src="~/Content/images/list-doctor/1.jpg" alt="" style="width: 57px; height: 57px;" margin-top: 25px;">
                            </div>
                            <div class="col-md-11" style="padding-left: 25px">
                                <div class="question-answered-title">
                                    <h3 class="title">
                                        <a style="font-size:19px" href="/cau-hoi/2489/%C4%91au-vung-gan">
                                            Đau vùng gan
                                        </a>
                                    </h3>
                                </div>
                                <div class="question-anwsered-content">
                                    <p>Tôi bị đau vùng gan nên làm thế nào bác sĩ?</p>
                                </div>
                                <div class="question-anwsered-type">
                                    <span class="meta-item specialist_data_popup" action_search="qa">
                                        <a style="font-size:19px" class="curso-point">
                                            Y tế dự phòng
                                        </a>-
                                        <span class="anwser-by">Trả lời bởi Bác sỹ </span>
                                        <a href="">Dung Nguyen</a>
                                        - <span class="anwser-by">08:14 16/08/2021</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- END Item -->
                        <!-- BEGIN Item -->
                        <div class="row">
                            <div class="col-md-1">
                                <img src="~/Content/images/list-doctor/1.jpg" alt="" style="width: 57px; height: 57px;" margin-top: 25px;">
                            </div>
                            <div class="col-md-11" style="padding-left: 25px">
                                <div class="question-answered-title">
                                    <h3 class="title">
                                        <a style="font-size:19px" href="/cau-hoi/2460/nguc-em-to-qua-rat-kho-chiu-em-nen-lam-nhu-the-nao">
                                            Ngực em to quá rất khó chịu em nên là...
                                        </a>
                                    </h3>
                                </div>
                                <div class="question-anwsered-content">
                                    <p>Sau khi có em bé thì ngực em rất to, em rất tự ti và hay bị bàn bè trêu chọc, khó thở,&nbsp;rất khó mặc quần áo, nên em muốn làm nó nhỏ lại một chút thì như thế nào ạ ?</p>
                                </div>
                                <div class="question-anwsered-type">
                                    <span class="meta-item specialist_data_popup" action_search="qa">
                                        <a style="font-size:19px" class="curso-point">
                                            Thẩm mỹ
                                        </a>-
                                        <span class="anwser-by">Trả lời bởi Bác sỹ </span>
                                        <a href="">Dung Nguyen</a>
                                        - <span class="anwser-by">05:10 11/08/2021</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- END Item -->
                        <!-- BEGIN Item -->
                        <div class="row">
                            <div class="col-md-1">
                                <img src="~/Content/images/list-doctor/1.jpg" alt="" style="width: 57px; height: 57px;" margin-top: 25px;">
                            </div>
                            <div class="col-md-11" style="padding-left: 25px">
                                <div class="question-answered-title">
                                    <h3 class="title">
                                        <a style="font-size:19px" href="/cau-hoi/2255/soi-o-nieu-quan">
                                            Sỏi ở niệu quản
                                        </a>
                                    </h3>
                                </div>
                                <div class="question-anwsered-content">                                        </div>
                                <div class="question-anwsered-type">
                                    <span class="meta-item specialist_data_popup" action_search="qa">
                                        <a style="font-size:19px" class="curso-point">
                                            Y tế dự phòng
                                        </a>-
                                        <span class="anwser-by">Trả lời bởi Bác sỹ </span>
                                        <a href="">Dung Nguyen</a>
                                        - <span class="anwser-by">11:54 26/06/2021</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- END Item -->
                        <!-- BEGIN Item -->
                        <div class="row">
                            <div class="col-md-1">
                                <img src="~/Content/images/list-doctor/1.jpg" alt="" style="width: 57px; height: 57px;" margin-top: 25px;">
                            </div>
                            <div class="col-md-11" style="padding-left: 25px">
                                <div class="question-answered-title">
                                    <h3 class="title">
                                        <a style="font-size:19px" href="/cau-hoi/2253/gian-thung-tinh">
                                            Giãn thừng tinh
                                        </a>
                                    </h3>
                                </div>
                                <div class="question-anwsered-content">                                        </div>
                                <div class="question-anwsered-type">
                                    <span class="meta-item specialist_data_popup" action_search="qa">
                                        <a style="font-size:19px" class="curso-point">
                                            Y tế dự phòng
                                        </a>-
                                        <span class="anwser-by">Trả lời bởi Bác sỹ </span>
                                        <a href="">Dung Nguyen</a>
                                        - <span class="anwser-by">11:50 26/06/2021</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- END Item -->


                    </div>
                    <div id="cau-hoi-thuong-gap" class="tab-pane fade">
                        <!-- BEGIN Item -->
                        <div class="row">
                            <div class="col-md-1">
                                <img src="~/Content/images/list-doctor/1.jpg" alt="" style="width: 57px; height: 57px;" margin-top: 25px;">
                            </div>
                            <div class="col-md-11" style="padding-left: 25px">
                                <div class="question-answered-title">
                                    <h3 class="title">
                                        <a style="font-size:19px" href="/cau-hoi/4071/nice-site">
                                            Nice site
                                        </a>
                                    </h3>
                                </div>
                                <div class="question-anwsered-content">Nice site I'm glad I found it <br>https://landing1-eduard-kalugin.6e7oz.landing.myjino.ru/                                        </div>
                                <div class="question-anwsered-type">
                                    <span class="meta-item specialist_data_popup" action_search="qa">
                                        <a style="font-size:19px" class="curso-point">
                                            Sản phụ khoa
                                        </a>-
                                        <span class="anwser-by">Trả lời bởi Bác sỹ </span>
                                        <a href="">Dung Nguyen</a>
                                        - <span class="anwser-by">21:17 24/04/2022</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- END Item -->
                        <!-- BEGIN Item -->
                        <div class="row">
                            <div class="col-md-1">
                                <img src="~/Content/images/list-doctor/1.jpg" alt="" style="width: 57px; height: 57px;" margin-top: 25px;">
                            </div>
                            <div class="col-md-11" style="padding-left: 25px">
                                <div class="question-answered-title">
                                    <h3 class="title">
                                        <a style="font-size:19px" href="/cau-hoi/4070/%D0%BF%D0%BE%D1%80%D0%BD%D0%BE-%D0%BE%D0%B3%D1%80%D0%BE%D0%BC%D0%BD%D1%8B%D0%B8-%D0%B2-%D0%BC%D0%BE%D0%BB%D0%BE%D0%B4%D0%BE%D0%B8">
                                            порно огромный в молодой
                                        </a>
                                    </h3>
                                </div>
                                <div class="question-anwsered-content">домашнее порно инцест  https://eropron.top/                   порно большими новинки  <br> <br>порно видео про девушек  &lt;a href=https://eropron.top/search/%D0%91%D0%BE%D0%BB%D1%8C%D1%88%D0%B8%D0%B5%20%D1%81%D0%B8%D1%81%D1%8C%D0%BA%D0%B8/&gt;большие сиськи сосут хуй &lt;/a&gt; <br> <br>&lt;a href=http://klubnichnik.ru/viewtopic.php?t=2643&gt;красивое порно с мужем&lt;/a&gt;<br>&lt;a href=https://mh900e.com/index.php?topic=23.new#new&gt;порно видео молодых людей&lt;/a&gt;<br>&lt;a href=https://h2oasorozat.eoldal.hu/cikkek/Vendegkonyv.html#block-comments&gt;порно молодые ебут баб&lt;/a&gt;<br>&lt;a href=https://machru3.com/2019/03/08/63-businesses-to-start-for-under-10000/#comment-228&gt;порно онлайн бесплатно мамки&lt;/a&gt;<br>&lt;a href=http://hellocaptain.fr/viewtopic.php?f=3&amp;t=2114&gt;порно молодой кончил в зрелую&lt;/a&gt;<br>&lt;a href=https://xn--n1adccci.xn--p1ai/blog/osnovnye-momenty-pri-stroitelstve-bani#comment_3832&gt;порно русские молодые писи&lt;/a&gt;<br>&lt;a href=https://planetatspu.ru/discuss-job?cid=0&amp;m=0&gt;порно молодые в нижнем белье&lt;/a&gt;<br>&lt;a href=http://inversiones-san-francisco.spicyrocket.com/public/posts/47&gt;порно видео пьяные скачать&lt;/a&gt;<br>&lt;a href=https://www.derariosrl.it/2020/11/04/nuovo-sito-derario-srl/#comment-16209&gt;русское домашнее порно крупно&lt;/a&gt;<br>&lt;a href=https://rynok.province6s.site/viewtopic.php?pid=446#p446&gt;порно эротика младше 18&lt;/a&gt;<br> df26e32                                        </div>
                                <div class="question-anwsered-type">
                                    <span class="meta-item specialist_data_popup" action_search="qa">
                                        <a style="font-size:19px" class="curso-point">
                                            Tai mũi họng
                                        </a>-
                                        <span class="anwser-by">Trả lời bởi Bác sỹ </span>
                                        <a href="">Dung Nguyen</a>
                                        - <span class="anwser-by">18:16 24/04/2022</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- END Item -->
                        <!-- BEGIN Item -->
                        <div class="row">
                            <div class="col-md-1">
                                <img src="~/Content/images/list-doctor/1.jpg" alt="" style="width: 57px; height: 57px;" margin-top: 25px;">
                            </div>
                            <div class="col-md-11" style="padding-left: 25px">
                                <div class="question-answered-title">
                                    <h3 class="title">
                                        <a style="font-size:19px" href="/cau-hoi/4069/%D1%81%D0%BC%D0%BE%D1%82%D1%80%D0%B5%D1%82%D1%8C-%D0%BA%D1%80%D0%B0%D1%81%D0%B8%D0%B2%D0%BE%D0%B5-%D0%BF%D0%BE%D1%80%D0%BD%D0%BE-%D0%B0%D0%BD%D0%B0%D0%BB">
                                            смотреть красивое порно анал
                                        </a>
                                    </h3>
                                </div>
                                <div class="question-anwsered-content">смотреть порно русские сиськи  [url=https://krutoe-porno.top/]крутое порно[/url] <br> <br>смотреть красивое порно лесби  [url=https://krutoe-porno.top/search/%D0%91%D0%BE%D0%BB%D1%8C%D1%88%D0%B8%D0%B5%20%D0%96%D0%BE%D0%BF%D1%8B/]порно фото зрелые большие жопы [/url] <br> <br>[url=https://judesmiley.ca/who-is-your-audience#comment-1400]порно анал большой сперма[/url]<br>[url=http://bestofsantanvalley.com/top-10-attractions-in-nha-trang/#comment-25469]порно японский инцест анал[/url]<br>[url=http://bonne-annonce.fr/a-propos-de-nous/attachment/1/#comment-26771]порно лесби молодые бесплатно[/url]<br>[url=https://tutivilag.eoldal.hu/cikkek/vendegkonyv/vendeg-konyv.html#block-comments]самый красивый порно видео молодой девушками[/url]<br>[url=https://kokanish.in/types-of-mangoes-in-india/#comment-1298]порно с двумя зрелыми[/url]<br>[url=https://pointsite-kasegi.blog.ss-blog.jp/jikoafm?comment_success=2022-04-24T02:14:18&amp;time=1650734058]русское женское домашнее порно[/url]<br>[url=http://amurproftur.ru/kitaj/product/view/44/141/]девушка ли порно[/url]<br>[url=https://www.hoteltouat.dz/touat/2018/11/30/adrar-tour/#comment-509554]порно видео оргазмы девушек[/url]<br>[url=https://sm24.info/news/11047]первые большими порно[/url]<br>[url=http://www.futureassist.com/tr/dil-okullari/lsi-new-york-dil-okulu.html]скачать домашние порно ролики[/url]<br> 6ddf26e                                        </div>
                                <div class="question-anwsered-type">
                                    <span class="meta-item specialist_data_popup" action_search="qa">
                                        <a style="font-size:19px" class="curso-point">
                                            Hô hấp
                                        </a>-
                                        <span class="anwser-by">Trả lời bởi Bác sỹ </span>
                                        <a href="">Dung Nguyen</a>
                                        - <span class="anwser-by">13:45 24/04/2022</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- END Item -->
                        <!-- BEGIN Item -->
                        <div class="row">
                            <div class="col-md-1">
                                <img src="~/Content/images/list-doctor/1.jpg" alt="" style="width: 57px; height: 57px;" margin-top: 25px;">
                            </div>
                            <div class="col-md-11" style="padding-left: 25px">
                                <div class="question-answered-title">
                                    <h3 class="title">
                                        <a style="font-size:19px" href="/cau-hoi/4068/entire-lot-concerning-office-and-gaming-chairs">
                                            Entire lot concerning office and gami...
                                        </a>
                                    </h3>
                                </div>
                                <div class="question-anwsered-content">The first-rate gaming chairs are more than neutral somewhere to park your abut seeking 12 hours a heyday while farming runes in Elden Ring. They mix console, style, and ergonomics into anyone of the most urgent pieces of possessions you can buy. Whether you're looking for an epic gaming authority outfitted in your combine colors or a … la mode responsibility lead with staunch CEO vibes, we've got you covered. <br>We telling about the most  comfortable [url=https://mega-wiki.win/index.php/BEST_OFFICE_CHAIR_FOR_SCIATICA ]office[/url] and [url=https://papa-wiki.win/index.php/BEST_OFFICE_CHAIR_FOR_SCIATICA ]gaming chairs[/url] in ours articles. Join to [url=https://lima-wiki.win/index.php/BEST_OFFICE_CHAIR_FOR_SCIATICA ]us[/url].                                        </div>
                                <div class="question-anwsered-type">
                                    <span class="meta-item specialist_data_popup" action_search="qa">
                                        <a class="curso-point">
                                            Răng hàm mặt
                                        </a>-
                                        <span class="anwser-by">Trả lời bởi Bác sỹ </span>
                                        <a href="">Dung Nguyen</a>
                                        - <span class="anwser-by">19:42 23/04/2022</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- END Item -->
                        <!-- BEGIN Item -->
                        <div class="row">
                            <div class="col-md-1">
                                <img src="~/Content/images/list-doctor/1.jpg" alt="" style="width: 57px; height: 57px;" margin-top: 25px;">
                            </div>
                            <div class="col-md-11" style="padding-left: 25px">
                                <div class="question-answered-title">
                                    <h3 class="title">
                                        <a style="font-size:19px" href="/cau-hoi/4067/%D0%B0%D1%80%D0%B5%D0%BD%D0%B4%D0%B0-%D1%87%D0%B0%D1%81%D1%82%D0%BD%D0%BE%D0%B3%D0%BE-%D1%81%D0%B0%D0%BC%D0%BE%D0%BB%D0%B5%D1%82%D0%B0-%D1%81-%D1%8D%D0%BA%D0%B8%D0%BF%D0%B0%D0%B6%D0%B5%D0%BC">
                                            Аренда частного самолета с экипажем
                                        </a>
                                    </h3>
                                </div>
                                <div class="question-anwsered-content">[url=https://skyrevery.ru/airplanes/crj-200/]Чартерный самолет Bombardier CRJ-200 (Бомбардье) - SkyRevery[/url]        -  подробнее на нашем сайте [url=https://skyrevery.ru]skyrevery.ru[/url] <br>[url=https://skyrevery.ru/]Аренда частного самолета[/url] с экипажем в компании SkyRevery – это выбор тех, кто ценит свое время и живет по своему расписанию! <br>Аренда частного самолета помогает экономить самый важный ресурс – время. Арендовав частный самолет, именно Вы решаете, когда и куда полетите. Для выполнения чартерных рейсов мы предлагаем частные самолеты иностранного производства, гарантирующие высокий уровень комфорта и безопасности полета. Внимательные бортпроводники и высокопрофессиональные пилоты сделают Ваш полет максимально приятным и удобным. <br>Когда Вам нужна [url=https://skyrevery.ru/]аренда самолета[/url] срочно, мы можем организовать для Вас вылет по готовности от 3 часов с момента подтверждения.                                        </div>
                                <div class="question-anwsered-type">
                                    <span class="meta-item specialist_data_popup" action_search="qa">
                                        <a class="curso-point">
                                            Nam khoa
                                        </a>-
                                        <span class="anwser-by">Trả lời bởi Bác sỹ </span>
                                        <a href="">Dung Nguyen</a>
                                        - <span class="anwser-by">12:33 23/04/2022</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- END Item -->
                        <!-- BEGIN Item -->
                        <div class="row">
                            <div class="col-md-1">
                                <img src="~/Content/images/list-doctor/1.jpg" alt="" style="width: 57px; height: 57px;" margin-top: 25px;">
                            </div>
                            <div class="col-md-11" style="padding-left: 25px">
                                <div class="question-answered-title">
                                    <h3 class="title">
                                        <a style="font-size:19px" href="/cau-hoi/4066/%D1%81%D0%BA%D0%B0%D1%87%D0%B0%D1%82%D1%8C-%D0%BF%D0%BE%D1%80%D0%BD%D0%BE-%D0%B2%D0%B8%D0%B4%D0%B5%D0%BE-%D0%BD%D0%B0-%D1%82%D0%B5%D0%BB%D0%B5%D1%84%D0%BE%D0%BD-%D0%B1%D0%B5%D0%B7">
                                            скачать порно видео на телефон без
                                        </a>
                                    </h3>
                                </div>
                                <div class="question-anwsered-content">домашнее порно унижение  https://prisunul.vip/ <br> <br>порно зрелые в бане  [url=https://prisunul.vip/search/%D0%A4%D0%B8%D0%BB%D1%8C%D0%BC%D1%8B/]японские полнометражные порно фильмы [/url] <br> <br>[url=https://www.flowing-online.com/2020/02/18/deal-of-the-day/#comment-3306]домашнее порно через[/url]<br>[url=http://materiallab101.com/mycelium/#comment-1357]порно геи смотреть без[/url]<br>[url=http://chat-orbe.mex.tl/?gb=1#top]порно парень дрочит девушка смотрит[/url]<br>[url=https://exerciseinstitute.com.au/an-elite-training-pathway/#comment-13841]домашнее порно кончает[/url]<br>[url=http://ww.sportvereine.ch/forum/rund-um-sportvereinech/-_2335?p=326#post115409]первые пробует анал порно[/url]<br>[url=https://blog.tsdo.net/article/113384168.html]русские порно сайты зрелых женщин[/url]<br>[url=https://realcuriosidade.com/2021/01/14/nasa-prodlit-missii-juno-i-insight/#comment-121556]смотреть порно анал спящие[/url]<br>[url=https://www.entendademoda.com.br/2021/07/15/como-usar-mix-de-colares/#comment-4459]смотреть видео порно анал[/url]<br>[url=https://optimalidservices.com/2020/06/04/the-many-faces-of-id-theft/#comment-141]смотреть порно первого анала бесплатно[/url]<br>[url=https://homestretch.org/donate-now/?tfa_next=%2Fforms%2Fview%2F4649257%2F1bf98aae158eea389e66a087d064b42a%2F250856748%3Fjsid%3DeyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.IjdiNGFiNmY5NzBhZTgxYWMwOWRmMWM3NGYzOTIwMjc0Ig.EiQwzfekxOOsMqWynTBofATFLtlqkDvgOwU_1vpw4-I]смотреть порно онлайн в рот[/url]<br> 2748_eb                                        </div>
                                <div class="question-anwsered-type">
                                    <span class="meta-item specialist_data_popup" action_search="qa">
                                        <a class="curso-point">
                                            Tai mũi họng
                                        </a>-
                                        <span class="anwser-by">Trả lời bởi Bác sỹ </span>
                                        <a href="">Dung Nguyen</a>
                                        - <span class="anwser-by">03:50 23/04/2022</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- END Item -->


                    </div>
                    <div id="ban-quan-tam" class="tab-pane fade">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>

