@model IEnumerable<Doctor_Forum_eProject_SEM3.Models.Post>
@using Doctor_Forum_eProject_SEM3.Models;
@{
    ViewBag.Title = "Home";
    IEnumerable<Specialization> specializations = ViewBag.Specialization as IEnumerable<Specialization>;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/simplePagination.min.css">
<style>
    .light-theme a:hover {
        color: #48bdc5;
    }

    .light-theme .current {
        background: #48bdc5;
        color: #ffffff;
        /* border-color: #444; */
        /* box-shadow: 0 1px 0 rgb(255 255 255), 0 0 2px rgb(0 0 0 / 30%) inset; */
        border: none;
        padding: 9px 18px;
        cursor: pointer;
    }

    .light-theme a, .light-theme span {
        float: left;
        color: #908a8a;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        text-align: center;
        /* border: 1px solid #bbb; */
        min-width: 14px;
        padding: 8px 18px;
        margin: 0 5px 0 0;
        border-radius: 3px;
    }

    .navbar-title {
        /* -webkit-line-clamp: 2; */
        display: block;
        display: -webkit-box;
        height: 16px*1.3*3;
        font-size: 16px;
        line-height: 1.3;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 10px;
    }

    .wrapper {
        display: block;
        display: -webkit-box;
        height: 16px*1.3*3;
        font-size: 16px;
        line-height: 1.3;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 10px;
    }

    .click-view-all {
        background-color: #48bdc5;
        color: white;
        padding: 6px 0;
        width: 330px;
        height: 40px;
        font-size: 14px;
        font-weight: 500;
        border: 1px solid #48bdc5;
    }

        .click-view-all:hover {
            color: #48bdc5;
            cursor: pointer;
            background-color: white;
        }

    .an {
        display: block;
        display: -webkit-box;
        height: 16px*1.3*3;
        font-size: 16px;
        line-height: 1.3;
        -webkit-line-clamp: 3; /* số dòng hiển thị */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 10px;
    }

        .an p {
            padding: 0 !important;
        }

    /* custom scrollbar */
    ::-webkit-scrollbar {
        width: 20px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #d6dee1;
        border-radius: 20px;
        border: 6px solid transparent;
        background-clip: content-box;
    }

        ::-webkit-scrollbar-thumb:hover {
            background-color: #a8bbbf;
        }

    .title-post {
        font-size: 18px;
        color: black;
        font-weight: 500;
    }

        .title-post:hover {
            color: #06bbcc;
        }

    .link-profile {
        color: #777777;
    }

        .link-profile:hover {
            color: #06bbcc;
        }

    .text {
        width: 70%
    }

    .text-img {
        width: 30%
    }

    .click:hover {
        color: #48bdc5;
        cursor: pointer;
        background-color: white
    }

    .question-anwsered-content {
        display: block;
        display: -webkit-box;
        height: 16px*1.3*3 !important;
        font-size: 16px;
        line-height: 1.3;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #2d2d2d !important;
        font-size: 14px;
        font-weight: 400;
        font-weight: 600;
        line-height: 24px;
        text-align: left;
        height: 50px;
        word-wrap: break-word;
        overflow: hidden;
        font-family: "Source Sans Pro", sans-serif;
    }

    .question-answered-title h3 a {
        color: #15a79c;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
    }

    .question-anwsered-type span a {
    }

    .question-anwsered-type a {
        color: #15a79c;
    }

    .question-anwsered-type {
        font-size: 12px;
    }

    .curso-point {
        color: #15a79c !important;
    }

    .question-anwsered-content p {
        font-size: 14px;
        font-weight: 600;
        color: #2d2d2d !important;
    }

    .nav-tabs .nav-link.active {
        color: #495057;
        font-size: 14px;
        font-weight: 600;
        color: white !important;
        line-height: 27px;
        padding: 8px 36px;
        background-color: #48bdc5 !important;
        border: 1px solid #48bdc5;
        display: inline-block;
        /* background: antiquewhite; */
        background-color: #48bdc5;
        border-color: #dee2e6 #dee2e6 #fff;
    }

    .nav-tabs .nav-link {
        font-size: 14px;
        font-weight: 600;
        color: #48bdc5;
        line-height: 27px;
        padding: 8px 36px;
        background-color: white !important;
        border: 1px solid #48bdc5;
        display: inline-block;
    }
</style>
@{Html.RenderAction("SearchDoctor", "Home");}
<section class="blog-section style-four section">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="container">
                    <div class="row">
                        @{ Html.RenderAction("NewestPost", "Posts"); }
                        @{ Html.RenderAction("TypeKnowledge", "Posts"); }

                    </div>
                </div>
                <div class="container">
                    <div class="row" style="margin-top: 20px">
                        @{Html.RenderAction("TypePost", "Posts");}
                        <div class="col-lg-12 mt-5 wrapper">
                            @foreach (var item in Model.Where(x => x.Status == true).Reverse())
                            {
                                if (item.Type != 1)
                                {
                                    <div class="item-holder row item mt-2">
                                        <div class="image-box col-4">
                                            <figure>
                                                <a href="/Posts/Details/@item.Id"><img style="height: 149px; object-fit: cover" loading="lazy" class="img-fluid" src="@item.Image" alt=""></a>
                                            </figure>
                                        </div>
                                        <div class="content-text col-8 pt-0">
                                            @if (item.Title != null)
                                            {
                                                @Html.ActionLink(item.Title, "Details", "Posts", new { id = item.Id }, new { @class = "title-post", id = item.Id })
                                            }
                                            <div class="an py-0 mb-1 an">
                                                @Html.Raw(item.Content)
                                            </div>
                                            <div>
                                                <img style="width: 40px;height: 40px; border-radius: 50%; object-fit: cover" src="@item.Account.Avatar">
                                                <span class="mr-1">@Html.ActionLink(item.Account.FullName, "UserProfile", "UserAccount", new { id = item.Account.Id }, new { @class = "link-profile" })</span>-<span class="ml-1">@*@item.Specialization.Name*@</span>
                                            </div>
                                        </div>
                                    </div>
                                }

                            }
                        </div>
                        <div id="pagination" style=" margin: 20px 0;"></div>
                        <div class="col-lg-12 mt-5">
                            <ul class="nav nav-tabs category-tab mb-3">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Question</a>
                                </li>
                                @*  <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Câu hỏi thường gặp</a>
                                    </li>*@
                            </ul>

                            <div class="custom-scrollbar tab-content" style="overflow-x: hidden; overflow-y: scroll; height: 454px">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    @{Html.RenderAction("TypeQuestion", "Posts");}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="right-side">
                    <div class="text-title">
                        <h6>Search</h6>
                    </div>
                    <div class="search-box">
                        <form method="post" action="index.html">
                            <div class="input-group">
                                <input type="text" id="txtSearch" class="form-control" name="txtSearch" placeholder="Enter category.." value="" />
                            </div>
                        </form>
                    </div>
                    <div class="categorise-menu">
                        <div class="text-title">
                            <h6>Categories</h6>
                        </div>

                        <ul class="categorise-list table-list-doctor wrapper">
                            @foreach (var item in specializations)
                            {
                                <li class="item tr-list-doctor"><a href="#">@item.Name</a></li>
                            }

                        </ul>
                        @*<div id="pagination"></div>*@
                    </div>
                    <div class="tag-list">
                        <div class="text-title">
                            <h6>Tags</h6>
                        </div>
                        <a href="#">Dental</a>
                        <a href="#">Root</a>
                        <a href="#">Clean</a>
                        <a href="#">Rehabilitation</a>
                        <a href="#">Surgery</a>
                        <a href="#">Doctor</a>
                        <a href="#">Pediatric</a>
                        <div class="click-view-all" style="width:100%;text-align:center">
                            <div class="click-show-all-post" style="height:100%; border: none">Thủ Thuật Tinh Tế</div>
                        </div>


                    </div>
                    @foreach (var item in Model.Where(x => x.Status == true).Reverse())
                    {

                        <div class="d-flex" style="margin-top: 10px">
                            <div class="text">
                                <p class="navbar-title"><a style="color: #868686;" href="/Posts/Details/@item.Id">@item.Title</a></p>
                            </div>
                            <div class="text-img">
                                <a href="/Posts/Details/@item.Id" style="width: 33%; padding: 10px 5px 0 0">
                                    <img style="object-fit: cover; width: 100%; height: 55px; border-radius: 7px" src="@item.Image">
                                </a>
                            </div>
                        </div>
                    }
                    <div class="click-view-all" style="width:100%;text-align:center">
                        <div class="click-show-all-post" style="height:100%; border: none">Xem Tất Cả</div>
                    </div>
                    <div class="row" style="margin-left:0px">
                        @foreach (var item in Model.Where(x => x.Status == true).Reverse())
                        {
                            <a href="/Posts/Details/@item.Id" style="width: 33%; padding: 10px 5px 0 0">

                                <img style="object-fit: cover; width: 100%; height: 55px; border-radius: 7px" src="@item.Image">
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $("#txtSearch").on("keyup", function () {
        var txtEnter = $(this).val();
        $(".table-list-doctor .tr-list-doctor").each(function (results) {
            if (results !== 0) {
                var id = $(this).find("a").text();
                if (id.indexOf(txtEnter) !== 0 && id.toLowerCase().indexOf(txtEnter.toLowerCase()) < 0) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            }
        })
    })
</script>
<script>
    $(".wrapper .item").slice(5).hide();
    $('#pagination').pagination({

        // Total number of items present
        // in wrapper class
        items: 30,

        // Items allowed on a single page
        itemsOnPage: 5,
        onPageClick: function (noofele) {
            $(".wrapper .item").hide()
                .slice(5 * (noofele - 1),
                    5 + 5 * (noofele - 1)).show();
        }
    });
</script>