@model IEnumerable<Doctor_Forum_eProject_SEM3.Models.Post>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .click-view-all {
        background-color: #48bdc5;
        color: white;
        padding: 6px 0;
        width: 330px;
        height: 40px;
        font-size: 14px;
        font-weight: 500;
        border: 1px solid #48bdc5;
    }
        .click-view-all:hover {
            color: #48bdc5;
            cursor:pointer;
            background-color: white;
           
        }

    .an {
        display: block;
        display: -webkit-box;
        height: 16px*1.3*3;
        font-size: 16px;
        line-height: 1.3;
        -webkit-line-clamp: 3; /* số dòng hiển thị */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 10px;
    }

        .an p {
            padding: 0 !important;
        }

    /* custom scrollbar */
    ::-webkit-scrollbar {
        width: 20px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #d6dee1;
        border-radius: 20px;
        border: 6px solid transparent;
        background-clip: content-box;
    }

        ::-webkit-scrollbar-thumb:hover {
            background-color: #a8bbbf;
        }
    .title-post {
        font-size: 18px;
        color: black;
        font-weight: 500;
    }

        .title-post:hover {
            color: #06bbcc;
        }

    .link-profile {
        color: #777777;
    }

        .link-profile:hover {
            color: #06bbcc;
        }
    .text{
        width:70%
    }
    .text-img{
        width:30%
    }
    .click:hover {
        color: #48bdc5;
        cursor:pointer;
        background-color: white
    }
    .question-anwsered-content {
        display: block;
        display: -webkit-box;
        height: 16px*1.3*3 !important;
        font-size: 16px;
        line-height: 1.3;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #2d2d2d !important;
        font-size: 14px;
        font-weight: 400;
        font-weight: 600;
        line-height: 24px;
        text-align: left;
        height: 50px;
        word-wrap: break-word;
        overflow: hidden;
        font-family: "Source Sans Pro", sans-serif;
    }
    .question-answered-title h3 a {
        color: #15a79c;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
    }
    .question-anwsered-type span a {
       
    }
    .question-anwsered-type a {
        color: #15a79c;
    }
    .question-anwsered-type{
        font-size : 12px;
    }
    .curso-point {
        color: #15a79c !important;
    }

    .question-anwsered-content p {
        font-size: 14px;
        font-weight: 600;
        color: #2d2d2d !important;
    }
    .nav-tabs .nav-link.active {
        color: #495057;
        font-size: 14px;
        font-weight: 600;
        color: white!important;
        line-height: 27px;
        padding: 8px 36px;
        background-color: #48bdc5!important;
        border: 1px solid #48bdc5;
        display: inline-block;
        /* background: antiquewhite; */
        background-color: #48bdc5;
        border-color: #dee2e6 #dee2e6 #fff;
    }
    .nav-tabs .nav-link {
        font-size: 14px;
        font-weight: 600;
        color: #48bdc5;
        line-height: 27px;
        padding: 8px 36px;
        background-color: white !important;
        border: 1px solid #48bdc5;
        display: inline-block;
    }
    
    
</style>
@{Html.RenderAction("SearchDoctor", "Home");}
<section class="blog-section style-four section">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="container">
                    <div class="row">
                        @{ Html.RenderAction("NewestPost", "Posts"); }
                        @if (Model.ToList().Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                if (item.Type.Value == 3)
                                {
                                    { Html.RenderAction("TypeKnowledge", "Posts"); }
                                }

                            }
                        }

                    </div>
                </div>
                <div class="container">
                    <div class="row" style="margin-top: 20px">
                        @{Html.RenderAction("TypePost", "Posts");}
                        <div class="col-lg-12 mt-5">
                            @foreach (var item in Model.Where(x => x.Status == true).Reverse())
                            {
                                <div class="item-holder row">
                                    <div class="image-box col-4">
                                        <figure>
                                            <a href="blog-details.html"><img style="height: 149px; object-fit: cover" loading="lazy" class="img-fluid" src="@item.Image" alt=""></a>
                                        </figure>
                                    </div>
                                    <div class="content-text col-8 pt-0">
                                        @if (item.Title != null)
                                        {
                                            @Html.ActionLink(item.Title, "Details", "Posts", new { id = item.Id }, new { @class = "title-post", id = item.Id })
                                        }
                                        <div class="an py-0 mb-1 an">
                                            @Html.Raw(item.Content)
                                        </div>
                                        <div>
                                            <img style="width: 40px;height: 40px; border-radius: 50%; object-fit: cover" src="@item.Account.Avatar">
                                            <span class="mr-1">@Html.ActionLink(item.Account.FullName, "UserProfile", "UserAccount", new { id = item.Id }, new { @class = "link-profile" })</span>-<span class="ml-1">@*@item.Specialization.Name*@</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-lg-12 mt-5">
                            <ul class="nav nav-tabs category-tab mb-3">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mới trả lời</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Câu hỏi thường gặp</a>
                                </li>
                            </ul>

                            <div class="custom-scrollbar tab-content"  style="overflow-x: hidden; overflow-y: scroll; height: 454px">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    @{Html.RenderAction("TypeQuestion", "Posts");}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="right-side">
                    <div class="text-title">
                        <h6>Search</h6>
                    </div>
                    <div class="search-box">
                        <form method="post" action="index.html">
                            <div class="input-group">
                                <input class="form-control" type="search" name="search" placeholder="Enter to Search" required="" autocomplete="off">
                            </div>
                        </form>
                    </div>
                    <div class="categorise-menu">
                        <div class="text-title">
                            <h6>Categories</h6>
                        </div>
                        <ul class="categorise-list">
                            <li><a href="blog.html">Alumni <span>(20)</span></a></li>
                            <li><a href="blog.html">Psycology <span>(4)</span></a></li>
                            <li><a href="blog.html">Sonogram <span>(2)</span></a></li>
                            <li><a href="blog.html">x-ray <span>(9)</span></a></li>
                            <li><a href="blog.html">Dental <span>(2)</span></a></li>
                        </ul>
                    </div>
                    <div class="tag-list">
                        <div class="text-title">
                            <h6>Tags</h6>
                        </div>
                        <a href="blog.html">Dental</a>
                        <a href="blog.html">Root</a>
                        <a href="blog.html">Clean</a>
                        <a href="blog.html">Rehabilitation</a>
                        <a href="blog.html">Surgery</a>
                        <a href="blog.html">Doctor</a>
                        <a href="blog.html">Pediatric</a>
                        <div class="click-view-all" style="width:100%;text-align:center">
                            <div class="click-show-all-post" style="height:100%; border: none">Thủ Thuật Tinh Tế</div>
                        </div>
                        <div class="d-flex" style="margin-top: 10px">
                            <div class="text">
                                <p>Tôi muốn đi chơi, tôi muốn đi Hồ Tây....</p>
                            </div>
                            <div class="text-img">
                                <img style="height: 60px; width: 100%; object-fit: cover; border-radius: 7px" src="images/blog/Cường.jpg">
                            </div>
                        </div>
                        <div class="d-flex" style="margin-top: 10px">
                            <div class="text">
                                <p>Tôi muốn đi chơi, tôi muốn đi Hồ Tây....</p>
                            </div>
                            <div class="text-img">
                                <img style="height: 60px; width: 100%; object-fit: cover; border-radius: 7px" src="images/blog/Cường.jpg">
                            </div>
                        </div>
                        <div class="d-flex" style="margin-top: 10px">
                            <div class="text">
                                <p>Tôi muốn đi chơi, tôi muốn đi Hồ Tây....</p>
                            </div>
                            <div class="text-img">
                                <img style="height: 60px; width: 100%; object-fit: cover; border-radius: 7px" src="images/blog/Cường.jpg">
                            </div>
                        </div>
                        <div class="d-flex" style="margin-top: 10px">
                            <div class="text">
                                <p>Tôi muốn đi chơi, tôi muốn đi Hồ Tây....</p>
                            </div>
                            <div class="text-img">
                                <img style="height: 60px; width: 100%; object-fit: cover; border-radius: 7px" src="images/blog/Cường.jpg">
                            </div>
                        </div>
                        <div class="d-flex" style="margin-top: 10px">
                            <div class="text">
                                <p>Tôi muốn đi chơi, tôi muốn đi Hồ Tây....</p>
                            </div>
                            <div class="text-img">
                                <img style="height: 60px; width: 100%; object-fit: cover; border-radius: 7px" src="images/blog/Cường.jpg">
                            </div>
                        </div>
                        <div class="click-view-all" style="width:100%;text-align:center">
                            <div class="click-show-all-post" style="height:100%; border: none">Xem Tất Cả</div></div>
                    </div>
                    <div class="row" style="margin-left:0px">
                        <div style="width: 33%; padding: 10px 5px 0 0">
                            <img style="object-fit: cover; width: 100%; height: 55px; border-radius: 7px" src="images/blog/Thắng.png">
                        </div>
                        <div style="width: 33%; padding: 10px 5px 0 0">
                            <img style="object-fit: cover; width: 100%; height: 55px; border-radius: 7px" src="images/blog/Thắng.png">
                        </div>
                        <div style="width: 33%; padding: 10px 5px 0 0">
                            <img style="object-fit: cover; width: 100%; height: 55px; border-radius: 7px" src="images/blog/Thắng.png">
                        </div>
                        <div style="width: 33%; padding: 10px 5px 0 0">
                            <img style="object-fit: cover; width: 100%; height: 55px; border-radius: 7px" src="images/blog/Thắng.png">
                        </div>
                        <div style="width: 33%; padding: 10px 5px 0 0">
                            <img style="object-fit: cover; width: 100%; height: 55px; border-radius: 7px" src="images/blog/Thắng.png">
                        </div>
                        <div style="width: 33%; padding: 10px 5px 0 0">
                            <img style="object-fit: cover; width: 100%; height: 55px; border-radius: 7px" src="images/blog/Thắng.png">
                        </div>
                        <div style="width: 33%; padding: 10px 5px 0 0">
                            <img style="object-fit: cover; width: 100%; height: 55px; border-radius: 7px" src="images/blog/Thắng.png">
                        </div>
                        <div style="width: 33%; padding: 10px 5px 0 0">
                            <img style="object-fit: cover; width: 100%; height: 55px; border-radius: 7px" src="images/blog/Thắng.png">
                        </div>
                        <div style="width: 33%; padding: 10px 5px 0 0">
                            <img style="object-fit: cover; width: 100%; height: 55px; border-radius: 7px" src="images/blog/Thắng.png">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

