@model Doctor_Forum_eProject_SEM3.Models.Professional

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Delete Professional</h4>
                <div class="ms-auto text-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Delete
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h3>Are you sure you want to delete this?</h3>
                        <div>                          
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Account.Avatar)
                                </dt>
                               
                                <dd>
                                    <img src="@Html.DisplayFor(model => model.Account.Avatar)" style="width: 120px; height: 100px; object-fit: cover" />
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.ProfessionalName)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ProfessionalName)
                                </dd>

                                @*<dt>
                                    @Html.DisplayNameFor(model => model.Status)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Status)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.CreatedAt)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CreatedAt)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.UpdatedAt)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.UpdatedAt)
                                </dd>*@

                            </dl>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="Delete" class="btn btn-default" /> |
                                    @Html.ActionLink("Back to List", "Index")
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>