@model IEnumerable<Doctor_Forum_eProject_SEM3.Models.Account>
@{
    ViewBag.Title = "List Doctors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/simplePagination.min.css">
<style>
    .light-theme a:hover {
        color: #48bdc5;
    }

    .light-theme .current {
        background: #48bdc5;
        color: #ffffff;
        /* border-color: #444; */
        /* box-shadow: 0 1px 0 rgb(255 255 255), 0 0 2px rgb(0 0 0 / 30%) inset; */
        border: none;
        padding: 9px 18px;
        cursor: pointer;
    }

    .light-theme a, .light-theme span {
        float: left;
        color: #908a8a;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        text-align: center;
        /* border: 1px solid #bbb; */
        min-width: 14px;
        padding: 8px 18px;
        margin: 0 5px 0 0;
        border-radius: 3px;
    }
</style>


@{Html.RenderAction("SearchDoctor", "Home");}
<section class="team-section section">
    <div class="container">

        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" id="txtSearch" class="form-control" name="txtSearch" placeholder="Enter name.." value="" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.DropDownList("ProvinceId", new SelectList(new string[] { }), new { @class = "form-control", @id = "ddlProvince", @style = "padding: 0 15px;" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.DropDownList("DistrictId", new SelectList(new string[] { }), new { @class = "form-control", @id = "ddlDistrict", @style = "padding: 0 15px;" })
                    </div>
                </div>
            </div>
            <h3>
                Our Expert
                <span>Doctors</span>
            </h3>

        </div>
        <div class="row table-list-doctor wrapper">
            @foreach (var item1 in Model)
            {
                <div class="col-lg-4 col-md-6 tr-list-doctor ">
                    <div class="team-member item">
                        <img loading="lazy" src="@item1.Avatar" alt="doctor" style="height: 350px;width:100%;object-fit:cover" class="img-fluid">
                        <div class="contents text-center">
                            @foreach (var child in item1.Professionals)
                            {
                                <h4>@child.ProfessionalName - @item1.FullName</h4>
                            }
                            <p>@item1.AddressDetail</p>
                            <a href="/Account/Profile/@item1.Id" class="btn btn-main">Watch information</a>
                        </div>
                    </div>
                </div>
            }
        </div>       
            <div id="pagination" style=" margin: 50px 0;"></div>
    </div>

</section>
<script>
    $(".wrapper .item").slice(9).hide();
    $('#pagination').pagination({

        // Total number of items present
        // in wrapper class
        items: 9,

        // Items allowed on a single page
        itemsOnPage: 8,
        onPageClick: function (noofele) {
            $(".wrapper .item").hide()
                .slice(9 * (noofele - 1),
                    9 + 9 * (noofele - 1)).show();
        }
    });
</script>
<script>
    $("#txtSearch").on("keyup", function () {
        var txtEnter = $(this).val();
        $(".table-list-doctor .tr-list-doctor").each(function (results) {
            if (results !== 0) {
                var id = $(this).find("h4").text();
                if (id.indexOf(txtEnter) !== 0 && id.toLowerCase().indexOf(txtEnter.toLowerCase()) < 0) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            }
        })
    })
</script>
<script>
    $("#ddlProvince").change(function () {
        alert(1)
        $.ajax({
            type: 'GET',
            url: '/UserAccount/LoadProvince',
            datatype: 'JSON',
            data: { 'province': $(this).val() },
            success: function (data) {
                $('.table-list-doctor .tr-list-doctor').empty();
                $.each(data, function (i, item) {
                    var rows =
                        "<div class=" + team - member + ">" +
                        "<img loading=" + lazy + " src=" + item.Avatar + " alt=" + doctor + " style=" + height: 350 + px +; width: 100 %; object - fit: cover + " class=" + img - fluid + ">" +
                            "<div class=" + contents + text + -center + ">" +
                            "<h4>" + item.FullName + "</h4>" +
                            "<p>" + item.AddressDetail + "</p>" +
                            "<a href=" + /Account/Profile / +item.Id + "class=" + btn + btn + -main + ">Watch information</a>" +
                            "</div>" +
                            "</div>";
                    $('.table-list-doctor .tr-list-doctor').append(rows);
                });
            },
            error: function (data) { alert(data.responseText); }
        });
    });
</script>
<script src="~/Content/js/client/userRegister.js"></script>