@model IEnumerable<Doctor_Forum_eProject_SEM3.Models.Reply>
<style>
    .image-text p {
        margin-bottom: 0;
    }

    .image-text {
        width: 100%;
        background-color: #edeef2;
        border-radius: 6px;
        padding-left: 10px !important;
        padding: 5px 10px 0 10px;
    }

        .image-text img {
            width: 100%;
        }
    .ck-content {
        height: 140px;
    }
    .right-button-reply {
        right: 10px !important;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/simplePagination.min.css">
<div class="comments-area">
    <div class="sec-title">
        <h6>Comments (@Model.Count())</h6>
    </div>
    <div class="wrapper">
        @foreach (var item in Model.Where(x => x.Status == true).Reverse())
        {
            <div class="comment mb-3 item">
                <div class="d-flex">
                    <div class="image-holder">
                        <figure style="width: 45px; margin-right: 15px;">
                            <img loading="lazy" src="@item.Account.Avatar" style="width: 100%; height: 45px; object-fit: cover" alt="">
                        </figure>
                    </div>
                    <div class="image-text position-static">
                        <h6 class="p-0">@item.Account.FullName<span>@String.Format("{0:ddd, dd MMMM yyyy }", item.CreatedAt).ToString()</span></h6>
                        <h5 class="right-button-reply d-flex">
                            <div onclick="myFunction()" class="comment-back" style="cursor: pointer; margin-right: 45px;">
                                <i class="fa fa-reply-all" aria-hidden="true"></i>Comment Back
                            </div>
                            <div class="dropdown" style="position:absolute; top: 0; right:0;">

                                <!--Trigger-->

                                <a id="dropdownMenu2" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false" style="margin-right: 0px"><i class="fas fa-ellipsis-v" style="margin-right: 0px;"></i></a>


                                <!--Menu-->
                                <div class="dropdown-menu dropdown-primary">
                                    @*<a class="dropdown-item" href="#"><i class="fab fa-apple-pay"></i>&nbsp;&nbsp;Pay</a>*@
                                    @Html.ActionLink("Edit", "UpdateComment", "Posts", new { id = item.Id }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Details", "Details", "Posts", new { id = item.Id }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Delete", "Delete", "Posts", new { id = item.Id }, new { @class = "dropdown-item" })
                                </div>
                            </div>
                        </h5>

                        <p>
                            @MvcHtmlString.Create(HttpUtility.HtmlDecode(item.Message))
                        </p>

                    </div>
                </div>
            </div>
        }
    </div>
    @if (Model.Count() > 4)
    {
        <div id="pagination" style=" margin: 30px 0;"></div>
    }

</div>
<script>
    $(".wrapper .item").slice(4).hide();
    $('#pagination').pagination({

        // Total number of items present
        // in wrapper class
        items: 12,

        // Items allowed on a single page
        itemsOnPage: 4,
        onPageClick: function (noofele) {
            $(".wrapper .item").hide()
                .slice(4 * (noofele - 1),
                    4 + 4 * (noofele - 1)).show();
        }
    });
</script>