@model Doctor_Forum_eProject_SEM3.Models.Post
@using Doctor_Forum_eProject_SEM3.Models
@{
    ViewBag.Title = "Post Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PostId = Model.Id;
    IEnumerable<Reply> replies = ViewData["Reply"] as IEnumerable<Reply>;
    IEnumerable<Specialization> specializations = ViewBag.Specialization as IEnumerable<Specialization>;
}
<style>
    .content-text p {
        padding: 0 !important;
        margin: 0;
        padding-top: 0 !important;
    }

    .wrapper {
        display: block;
        display: -webkit-box;
        height: 16px*1.3*3;
        font-size: 16px;
        line-height: 1.3;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 10px;
    }

    .content-text img {
        width: 100%;
        height: auto;
    }

    #txtContent:focus {
        border: 1px solid #51c0c7;
    }

    .form-group .ck-rounded-corners:focus {
        border-color: #51c0c7 !important;
    }
</style>
<section class="blog-section style-four style-five mt-4">
    <div class="container bg-white">
        <div class="row" style="padding-top:30px">
            <div class="col-lg-9">
                <div class="left-side">
                    <div class="item-holder">
                        <div class="content-text pt-0">
                            <h4>@Html.DisplayFor(model => model.Title)</h4>
                            <div class="mb-3">By @Html.DisplayFor(model => model.Account.FullName) / @String.Format("{0:ddd, dd MMMM yyyy }", Model.CreatedAt).ToString()</div>
                            <p>
                                @MvcHtmlString.Create(HttpUtility.HtmlDecode(Model.Content))
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="thread-tags">
                        <span class=""><b>Tags:</b></span>
                        <a href="https://tinhte.vn/tag/chup-anh/" class="jsx-3147581474">chụp ảnh</a>
                        <a href="https://tinhte.vn/tag/samsung/" class="jsx-3147581474">samsung</a>
                        <a href="https://tinhte.vn/tag/dien-thoai/" class="jsx-3147581474">điện thoại</a>
                        <a href="https://tinhte.vn/tag/shot-on/" class="jsx-3147581474">shot on</a>
                        <a href="https://tinhte.vn/tag/a53-5g/" class="jsx-3147581474">a53 5g</a>
                    </div>
                </div>
                @{Html.RenderAction("Comment", "Posts", new { postId = Model.Id });}

            <div class="form-area">
                <div class="sec-title">
                    <h6>Leave A Comment</h6>
                </div>
                @using (Html.BeginForm("PostComment", "Posts", FormMethod.Post, new { @class = "default-form", id = "formComment" }))
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <textarea value="@ViewBag.Message" name="Message" class="form-control textarea" placeholder="Your Review" , id="txtContent"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input value="@ViewBag.PostId" type="hidden" name="PostId" class="form-control d-none" />
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group form-bottom">
                                <button class="btn-style-one" id="btnsubmit" type="submit">Comment</button>
                            </div>
                        </div>
                    </div>
                }                
            </div>
            </div>
            <div class="col-lg-3">
                <div class="right-side mt-0">
                    <div class="text-title">
                        <h6>Search</h6>
                    </div>
                    <div class="search-box">
                        <form method="post" action="index.html">
                            <input type="text" id="txtSearch" class="form-control" name="txtSearch" placeholder="Enter category.." value="" />
                        </form>
                    </div>
                    <div class="categorise-menu">
                        <div class="text-title">
                            <h6>Categories</h6>
                        </div>

                        <ul class="categorise-list table-list-doctor wrapper">
                            @foreach (var item in specializations)
                            {
                                <li class="item tr-list-doctor"><a href="#">@item.Name</a></li>
                            }

                        </ul>
                    </div>
                    <div class="tag-list">
                        <div class="text-title">
                            <h6>Tags</h6>
                        </div>
                        <a href="blog.html">Dental</a>
                        <a href="blog.html">Root</a>
                        <a href="blog.html">Clean</a>
                        <a href="blog.html">Rehabilitation</a>
                        <a href="blog.html">Surgery</a>
                        <a href="blog.html">Doctor</a>
                        <a href="blog.html">Pediatric</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section jsFooter {
    <script>
        $(document).ready(function () {
            $("#btnsubmit").click(function (e) {
                //Serialize the form datas.
                var valdata = $("#formComment").serialize();
                //to get alert popup
                $.ajax({
                    url: "/PostComment/Posts",
                    type: "POST",
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: valdata,
                    success: function (data) {
                        $('.comments-area .comment').append(data);
                    },
                    error: function (data) { }
                });
            });
        });
    </script>
    <script>
        ClassicEditor
            .create(document.querySelector('#txtContent'), {
                toolbar: ['heading', '|', 'bold', 'italic', 'link']
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(err => {
                console.error(err.stack);
            });

    </script>
    @*    <script>

            $(".comment-back").click(function (event) {
                event.preventDefault()
            });

            function myFunction() {
                var x = document.getElementById("myDIV");
                if
                    (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
            $(".comment-back1").click(function (event) {
                event.preventDefault()
            });
            function myFunction1() {
                var x = document.getElementById("myDIV1");
                if
                    (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
            $(".comment-back2").click(function (event) {
                event.preventDefault()
            });
            function myFunction2() {
                var x = document.getElementById("myDIV2");
                if
                    (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        </script>*@

}
<script>
    $("#txtSearch").on("keyup", function () {
        var txtEnter = $(this).val();
        $(".table-list-doctor .tr-list-doctor").each(function (results) {
            if (results !== 0) {
                var id = $(this).find("a").text();
                if (id.indexOf(txtEnter) !== 0 && id.toLowerCase().indexOf(txtEnter.toLowerCase()) < 0) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            }
        })
    })
</script>
