@model Doctor_Forum_eProject_SEM3.Models.Experience

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Account Profile</h4>
                <div class="ms-auto text-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Details
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h4>Experience</h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Account.Avatar)
                                </dt>

                                <dd>
                                    <img src=" @Html.DisplayFor(model => model.Account.Avatar)" style="width: 250px; height: 250px; object-fit: cover;" />
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.StartYear)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.StartYear)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.EndYear)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.EndYear)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Description)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Description)
                                </dd>

                                @*<dt>
                                    @Html.DisplayNameFor(model => model.Status)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Status)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.CreatedAt)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CreatedAt)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.UpdatedAt)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.UpdatedAt)
                                </dd>*@

                                <dt>
                                    @Html.DisplayNameFor(model => model.Workplace)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Workplace)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Position)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Position)
                                </dd>

                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
