@model Doctor_Forum_eProject_SEM3.Models.ViewModel.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .login-form {
        margin: 50px 0;
        width: 350px;
        padding: 20px;
        background-color: #eeeeee;
    }

    .register {
        width: 100%;
        padding: 11px 0;
        border-radius: 5px;
    }
</style>

<div class="content">
    <div class="login-form">
        @using (Html.BeginForm("Login", "AccountModels", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal ">
                <h4 class="text-center">Đăng nhập</h4>

                <div class="form-group">
                    <label class="control-label col-md-2"></label>
                    <div class="">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="">
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <input type="submit" value="Đăng nhập" class="btn btn-default" style="background-color: #06bbcc; width:100%" />
                        </div>
                        <div class="col-12">
                            <a class="btn btn-danger register" href="/User/Register">
                                Đăng ký
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>



</div>
