<!DOCTYPE html>
<html lang="zxx">
<head>

    <!-- ** Basic Page Needs ** -->
    <meta charset="utf-8">
    <title>Medic | Medical HTML Template</title>

    <!-- ** Mobile Specific Metas ** -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Medical HTML Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Themefisher">
    <meta name="generator" content="Themefisher Medical HTML Template v1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css" rel="stylesheet">
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>
    <!-- ** Plugins Needed for the Project ** -->
    <!-- bootstrap -->
    <link href="~/Content/plugins/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <!-- Slick Carousel -->
    <link href="~/Content/plugins/slick/slick.css" rel="stylesheet" />
    <link href="~/Content/plugins/slick/slick-theme.css" rel="stylesheet" />
    <!-- FancyBox -->
    <link href="~/Content/plugins/fancybox/jquery.fancybox.min.css" rel="stylesheet" />
    <!-- fontawesome -->
    <link href="~/Content/plugins/fontawesome/css/all.min.css" rel="stylesheet" />
    <!-- animate.css -->
    <link href="~/Content/plugins/animation/animate.min.css" rel="stylesheet" />
    <!-- jquery-ui -->
    <link href="~/Content/plugins/jquery-ui/jquery-ui.css" rel="stylesheet" />
    <!-- timePicker -->
    <link href="~/Content/plugins/timePicker/timePicker.css" rel="stylesheet" />

    <!-- Stylesheets -->
    <link href="~/Content/css/style.css" rel="stylesheet" />

    <!--Favicon-->
    <link rel="icon" href="~/Content/images/favicon.png" type="image/x-icon">
    @RenderSection("head", required: false)
</head>


<body>

    <div class="page-wrapper">



        <!--header top-->
        @Html.Partial("_PartialHeaderTop")
        <!--header top-->
        <!--Header Upper-->
        @Html.Partial("_PartialHeaderUper")
        <!--Header Upper-->
        <!--Main Header-->
        @Html.Partial("_PartialNavbar")
        <!--End Main Header -->
        <!--=================================
        =            Page Slider            =
        ==================================-->
        @*@Html.Partial("_PartialSlide")*@
        @RenderBody()
        <!--footer-main-->
        @Html.Partial("_PartialFooter")
        <!--End footer-main-->
        <!-- scroll-to-top -->
        <div id="back-to-top" class="back-to-top">
            <i class="fa fa-angle-up"></i>
        </div>

    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target=".header-top">
        <span class="icon fa fa-angle-up"></span>
    </div>


    <!-- jquery -->

    <script src="~/Content/plugins/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="~/Content/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- Slick Slider -->
    <script src="~/Content/plugins/slick/slick.min.js"></script>
    <script src="~/Content/plugins/slick/slick-animation.min.js"></script>
    <!-- FancyBox -->
    <script src="~/Content/plugins/fancybox/jquery.fancybox.min.js" defer></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU" defer></script>
    <script src="~/Content/plugins/google-map/gmap.js" defer></script>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 

    <!-- jquery-ui -->
    <script src="~/Content/plugins/jquery-ui/jquery-ui.js" defer></script>
    <!-- timePicker -->
    <script src="~/Content/plugins/timePicker/timePicker.js" defer></script>
    <script src="/Content/js/plugins/ckfinder/ckfinder.js"></script>
    <script src="~/ckeditor5-build-classic/ckeditor.js"></script>
    <!-- script js -->
    <script src="~/Content/js/script.js"></script>
    @RenderSection("jsFooter", required: false)
</body>

</html>


